.car__item {
  border: 1px solid #7c8a9736;
  padding: 20px;
  border-radius: 5px;
}

.car__item-info span i {
  color: #f9a826;
  font-size: 1.1rem;
}
.car__item-btn {
  border-radius: 0; /* Keep your original border radius */
   /* Makes the button a block-level element */
  border: none; /* Removes default border */
  outline: none; /* Removes focus outline */
  background: #000d6b; /* Button background color */
   /* Padding inside the button */
  width: 100%; /* Full width */
  height: auto; /* Allow the height to adjust based on content */
  text-align: center; /* Centers text within the button */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
}

.car__item-btn a {
  display: block; /* Ensures the anchor fills the button */
  width: 100%; /* Fills the entire button width */
  height: 100%; /* Fills the entire button height */
  text-decoration: none; /* Removes underline from the link */
  color: #fff; /* Text color */
  font-weight: 500; /* Makes the text bold */
  line-height: 1.5; /* Improves text readability */

}

.car__item-btn a:hover {
  color: #fff;
}
.car__btn-details {
  background: #f9a826;
  border-radius: 0px 4px 4px 0px;
}

.car__btn-rent {
  border-radius: 4px 0px 0px 4px;
}

.car__item-content h4 {
  font-size: 1.8rem;
}

.car__item-content h6 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media only screen and (max-width: 992px) {
  .car__item h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .car__item h6 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .car__item-info {
    flex-wrap: wrap;
  }

  .car__item-info span {
    font-size: 0.8rem;
    justify-content: space-between;
  }

  .car__item-btn {
    padding: 8px 17px;
    font-size: 0.9rem;
    display: block;

  }
}

@media only screen and (max-width: 768px) {
  .car__item h4 {
    font-size: 1rem;
  }

  .car__item h6 {
    font-size: 0.9rem;
  }

  .car__item-info span {
    font-size: 0.7rem;
  }

  .car__item-info span i {
    font-size: 0.9rem;
  }

  .car__item-btn {
    font-size: 0.8rem;
  }
}
